@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    text-wrap: balance;
  }
}

.swiper-container {
  overflow: hidden; /* Evita que el contenido desborde el contenedor */
  max-width: 100vw; /* Asegura que el swiper no crezca más allá del viewport */
}
