@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    text-wrap: balance;
  }
}

/* Estilo para el contenedor de Swiper */
.swiper-container {
  position: relative; /* Necesario para posicionar los botones de navegación */
  overflow: hidden; /* Evita que el contenido desborde el contenedor */
  max-width: 100%; /* Asegura que el swiper no crezca más allá del viewport */
  margin: auto; /* Centrar el swiper en la pantalla */
}

/* Estilo para las flechas de navegación */
.swiper-button-next, .swiper-button-prev {
  color: #FF441F !important;
  width: 20px !important; 
  height: 20px !important; 
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50% !important;
  z-index: 10;
}
/* Estilos generales para las tarjetas */
.swiper-slide {
  display: flex;
  justify-content: center; /* Centrar el contenido de la tarjeta */
  align-items: center; /* Centrar el contenido de la tarjeta */
}

/* Opcional: Estilo para la paginación */
.swiper-pagination {
  bottom: 10px; /* Espacio desde la parte inferior */
  text-align: center; /* Centrar la paginación */
}
